@import "variables";


// Text typography
h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

// Font style
body {
  font-family: "Arial Hebrew", Arial, sans-serif;
}

